<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:700&display=swap" rel="stylesheet">
    <title>DSS console</title>
</head>

<body>
    <%- include('navbar') %>

    <div class="container">
        <form action="/user/<%= user.uuid %>" method="POST">
            <div class="add_user">
                <table class="stopstart">
                    <tr>
                        <th class="<%= user.approved && Date.now() > user.approved + 60000 ? "offline" : "online" %>">
                            <%= user.approved && Date.now() > user.approved + 60000 ? "Offline" : "Online" %>
                        </th>
                        <th><a class="bttn3 <%= user.status %>" href="/user/<%= user.uuid %>/toggle">Toggle State <i class="fas fa-power-off <%= user.status %>"></i></a></th>
                        <th><a class="bttn3" href="/user/<%= user.uuid %>/delete">Delete <i class="fas fa-trash-alt"></i></a></th>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td colspan="2" class="Dotted">
                            <input type="text" name="name" class="bttn3" value="<%= user.name%>">
                        </td>
                    </tr>
                    <tr>
                        <td>FPS:</td>
                        <td colspan="2" class="Dotted">
                            <input type="text" name="fps" class="bttn3" value="<%= user.config.fps %>">
                        </td>
                    </tr>
                </table>
                <input type="submit" class="bttn4" value="Save!">
            </div>
        </form>
    </div>
</body>
</html>