<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis:700&display=swap" rel="stylesheet">
	<title>DSS console</title>
</head>

<body>
	<%- include('navbar') %>

	<div class="container">
		<table class="usersList">
			<tr>
				<th class="name_c">Name</th>
				<th>PC Status</th>
				<th>Stream Status</th>
				<th>Spy Viewer</th>
				<th>Change Settings</th>
			</tr>
			<%
				users.forEach(user => {
					if (user.uuid.split(":")[1] != null) {
			%>
			<tr>
				<td><%= user.name %></td>
				<td>Not Connected</td>
				<td>Not Connected</td>
				<td>Code: <%= user.uuid.split(":")[1] %></td>
				<td><a href="/user/<%= user.uuid %>/delete">Delete</a></td>
			</tr>
			<%
						return;
					}
			%>
			<tr>
				<td><%= user.name %></td>
				<td class="<%= user.approved && Date.now() > user.approved + 60000 ? "offline" : "online" %>">
					<%= user.approved && Date.now() > user.approved + 60000 ? "Offline" : "Online" %>
				</td>
				<td class="<%= user.status %>"><%= user.status.charAt(0).toUpperCase() + user.status.slice(1).replace("line", "") %></td>
				<td>
					<% if (user.status === "online") { %>
						<a href="rtmp://<%= config.url %>:<%= config.rtmp.port %>/<%= config.rtmp.application %>/<%= user.uuid %>">Click to Spy!</a>
					<% } else { %>
							<a href="/user/<%= user.uuid %>/toggle">Toggle State!</a>
					<% } %>
				</td>
				<td><a href="/user/<%= user.uuid %>">Click to Change!</a></td>
			</tr>
			<% }); %>
		</table>
	</div>

</body>
</html>
